.photo {
    margin-top: 100px;
    text-align: left;
}


/*GrayScale*/

.column#grayscale img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.column#grayscale:hover img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

body {
    /* background-color: rgb(29, 28, 28); */
    background: url('../img/background.jpg');
}

.body {
    width: 100%;
    font-family: Terminus;
}

.main {}

.container {
    font-family: Terminus;
    color: rgb(224, 218, 218);
    font-size: 20px;
    margin-top: 40px;
    background-color: rgb(29, 28, 28);
    /* border-style: double;
    border-width: 1px; */
}

img {
    width: 370px;
    text-align: left;
}

table {
    border-spacing: 0px;
}

td {
    display: table-cell;
    vertical-align: bottom;
    height: 1px;
    overflow: hidden;
}

tr {
    height: 1px;
}

.blinking-cursor {
    margin-left: -10px;
    font-weight: 100;
    color: #2E3D48;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
}

@keyframes blink {
    from,
    to {
        color: transparent;
    }
    50% {
        color: rgb(204, 192, 192);
    }
}

.info {
    margin-left: 30px;
}

.console {
    margin-top: 150px;
}

a {
    color: rgb(224, 218, 218);
}

a:hover {
    color: grey;
}

@media (max-width: 667px) {
    img {
        width: 0px;
        text-align: left;
    }
    body {
        width: 100%;
        display: table-cell;
        vertical-align: middle;
    }
    #contentSpoiler {
        font-size: 10px;
    }
}

#contentSpoiler {
    line-height: 50%;
    font-size: 16px;
}

.skills_right {
    text-align: right;
    /* margin-left: 10px; */
}

.flex_clean {
    flex-wrap: nowrap;
}