{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Starter Template for Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/starter-template/">

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>

<body>

    <main role='main' class="container">
        <div class="container main">
            <div class="row">
                <div class="col-8">
                    <p>Welcome to Portfolio 1.0 LTS (Software Developer)</p>
                    <table class="info">
                        <tr>
                            <td id=top_after_spoiler>* Skills:</td>
                            <td>
                                <a href="javascript:Spoiler();" class="link_spoiler" id="linkSpoiler">https://ruslanakmanov.link/expirience</a>
                                <div id="contentSpoiler" style="display: none;">
                                    <p style="padding-top: 10px;">[======>]30% HTML5, CSS3, JavaScript (Basic) </p>
                                    <p>[===============>]70% Data types and variables</p>
                                    <p>[============>]60% OOPs Concepts</p>
                                    <p>[========>]40% Data Structures</p>
                                    <p>[==========>]50% SQL</p>
                                    <p>[=============>]60% Version Control</p>
                                    <p>[========>]40% Database Schemas Creation</p>
                                    <p>[===============>]70% Communication Skills</p>
                                </div>
                                <!-- <a href="https://ruslanakmanov.link/skills">https://ruslanakmanov.link/expirience</a> -->
                            </td>
                        </tr>
                        <tr>
                            <td>* Git:</td>
                            <td><a href="https://github.com/ta0ma0">https://github.com/ta0ma0</a></td>
                        </tr>
                        <tr>
                            <td>* Hobby projects:</td>
                            <td><a href="https://ruslanakmanov.link/hobby">https://ruslanakmanov.link/hobby</a></td>
                        </tr>
                        <tr>
                            <td>* About me:</td>
                            <td>
                                <a href="https://ruslanakmanov.link/about_me">https://ruslanakmanov.link/about_me</a>
                            </td>
                        </tr>
                        <tr>
                            <td>* Contacts:</td>
                            <td><a href="https://ruslanakmanov.link/contacts ">https://ruslanakmanov.link/contacts</a></td>
                        </tr>

                    </table>
                    <br>
                    <p>System information as of {{formated_now_date}}</p>
                    <table class="info">
                        <tr>
                            <td>Age:</td>
                            <td>{{age}}</td>
                        </tr>
                        <tr>
                            <td>Sex:</td>
                            <td>Male</td>
                        </tr>
                        <tr>
                            <td>Education:</td>
                            <td>Higher</td>
                        </tr>
                        <tr>
                            <td>Experience:</td>
                            <td>{{expierience}} years</td>
                        </tr>
                        <tr>
                            <td>Location:</td>
                            <td>Saint-Petersburg</td>
                        </tr>
                    </table>
                </div>
                <div class="col-4 photo text-right">
                    <a href="#" class="column col-xs-6" id="grayscale">
                        <img src="{%static 'img/my_foto_window.png' %}" /></a>
                </div>
            </div>
            <div class='console'>
                <p><span style="color: green;">ruslan@akmanov</span>:<span style="color: blue;">~/copyright</span>$ cat -n license.txt</p>
                <p style="margin-left: 30px; margin-top: -15px;">1 Ruslan Akmanov (CC BY) {{current_year}}.<br> 2 Email: ruslan.akm@gmail.com.</p>
                <p style="margin-top: -15px;"><span style="color: green;">ruslan@akmanov</span>:<span style="color: blue;">~/copyright</span>$ <span class="blinking-cursor">|</span></p>
            </div>
        </div>

    </main>
    <!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>
        window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')
    </script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/spoiler.js' %}"></script>
</body>

</html>