{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Starter Template for Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/starter-template/">

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>

<body>
    <main role='main' class="container">
        <div class="container main">
            <div class="row">
                <div class="col-8">
                    <p>Welcome to Portfolio 1.0 LTS (Software Developer)</p>
                    <table class="info">
                        <tr>
                            <td id=top_after_spoiler>* Skills:</td>
                            <td>
                                <a href="javascript:Spoiler();" class="link_spoiler" id="linkSpoiler">https://ruslanakmanov.link/expirience</a>
                                <div id="contentSpoiler" style="display: none;">
                                    <div class="row">
                                    <div class="col-5 flex_clean">
                                        <p style="padding-top: 10px;">[======>]30%</p>
                                        <p>[===============>]70%</p>
                                        <p>[============>]60%</p>
                                        <p>[============>]60%</p>
                                        <p>[===============>]70%</p>
                                        <p>[=============>]60%</p>
                                        <p>[============>]60%</p>
                                        <p>[=================>]80%</p>
                                        
                                    </div>
                                    <div class="col-7 skills_right">
                                       <p style="padding-top: 10px;">HTML5, CSS3, JavaScript</p>
                                        <p>Data types and variables</p>
                                        <p>OOPs Concepts</p>
                                        <p>Data Structures</p>
                                        <p>SQL</p>
                                        <p>Version Control</p>
                                        <p>Database Schemas Creation</p>
                                        <p>Communication Skills</p>
                                    </div>
                                </div> 
                            </div>
                                <!-- <a href="https://ruslanakmanov.link/skills">https://ruslanakmanov.link/expirience</a> -->
                            </td>
                        </tr>
                        <tr>
                            <td>* Git:</td>
                            <td><a href="https://github.com/ta0ma0">https://github.com/ta0ma0</a></td>
                        </tr>
                        <!-- <tr>
                            <td>* Hobby projects:</td>
                            <td><a href="#">https://ruslanakmanov.link/hobby</a></td>
                        </tr> -->
                        <tr>
                            <td id=top_after_spoiler2>* About me:</td>
                            <td>
                                <a href="javascript:Spoiler2();" class="link_spoiler2" id="linkSpoiler2">https://ruslanakmanov.link/about</a>
                                <div id="contentSpoiler2" style="display: none;"><p>
                                        Опытный инженер компьютерных систем, начинающий программист. В течение десяти лет, работаю с информационными системами на разных уровнях. Работа инженером локальных сетей, дала опыт и понимание их работы, на уровне небольшой компании и на уровне провайдера большого города. Опыт технической поддержки пользователей хостинга, дал знания о его структуре и наиболее часто возникающих проблемах при работе web-приложений, помог понять как решать эти проблемы. Работая администратором в провайдере услуг хостинга научился поддерживать инфраструктуру, реагировать на сигналы мониторинга и исправлять многие проблемы, возникающие при работе высоко нагруженных серверов. Начиная с 2019 года обучался программированию на Python, в                                 результате научился создавать web-приложения, утилиты и автоматизировать задачи.
                                        <br>
                                        <br>
                                        Написал программу автоматически назначающую свободных сотрудников на имеющиеся доступные задачи. Разработал утилиту собирающую статистику частоты использования шаблонов в ответах клиентам, что позволило собрать статистику по наиболее часто встречающимся проблемам, для улучшения процессов отдела поддержки пользователей. Создал информационную панель предварительно собирающая информацию из различных источников, сводные данные выводились в одну таблицу, это позволило сократить скорость решения наиболее частых задач.
                                        <br>
                                        <br>
                                        Краткосрочные цели в карьере, участие в интересном проекте в команде опытных специалистов, для оттачивания навыков программирования. В долгосрочной перспективе рассчитываю развить свои собственные хобби проекты до возможности их коммерческой реализации.
                                </p></div>
                            </td>
                        </tr>
                        <tr>
                            <td>* Contacts:</td>
                            <td><a href="#">https://ruslanakmanov.link/contacts</a></td>
                        </tr>

                    </table>
                    <br>
                    <p>System information as of {{formated_now_date}}</p>
                    <table class="info">
                        <tr>
                            <td>Age:</td>
                            <td>{{age}}</td>
                        </tr>
                        <tr>
                            <td>Sex:</td>
                            <td>Male</td>
                        </tr>
                        <tr>
                            <td>Education:</td>
                            <td>Higher</td>
                        </tr>
                        <tr>
                            <td>Experience:</td>
                            <td>{{expierience}} years</td>
                        </tr>
                        <tr>
                            <td>Location:</td>
                            <td>Saint-Petersburg</td>
                        </tr>
                    </table>
                </div>
                <div class="col-4 photo text-right">
                    <a href="#" class="column col-xs-6" id="grayscale">
                        <img src="{%static 'img/my_foto_window.png' %}" /></a>
                </div>
            </div>
            <div class='console'>
                <p><span style="color: green;">ruslan@akmanov</span>:<span style="color: blue;">~/copyright</span>$ cat -n license.txt</p>
                <p style="margin-left: 30px; margin-top: -15px;">1 Ruslan Akmanov (CC BY) {{current_year}}.<br> 2 Email: ruslan.akm@gmail.com.</p>
                <p style="margin-top: -15px;"><span style="color: green;">ruslan@akmanov</span>:<span style="color: blue;">~/copyright</span>$ <span class="blinking-cursor">|</span></p>
            </div>
        </div>

    </main>
    <!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>
        window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')
    </script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/spoiler.js' %}"></script>
    <script src="{% static 'js/fallingtext.js' %}"></script>
</body>

</html>